<div class="battlefield-container">
  <div class="battlefield-content">
    <!-- Online Users Section -->
    <div class="online-users">
      <div class="users-grid">
        <!-- User Cards -->
        <div
          *ngFor="let user of usersInBattlefield"
          class="user-card"
          pRipple
          role="button"
          tabindex="0"
        >
          <!-- User Avatar -->
          <div class="custom-avatar">
            <img
              [src]="user?.profilePicture"
              alt="{{ user?.name }}"
              class="avatar-img"
            />
          </div>
          <!-- User Name -->
          <span class="name">{{ user?.name }}</span>
        </div>
      </div>
    </div>

    <!-- Chat Component for Desktop -->
    <div class="chat-desktop" *ngIf="!isMobile">
      <app-chat-page></app-chat-page>
    </div>

    <!-- Button to Open Chat Sidebar on Mobile -->
    <button
      *ngIf="isMobile"
      (click)="openChatSidebar()"
      class="open-chat-button"
      aria-label="Open Chat"
    >
      <i class="pi pi-comments"></i>
    </button>
  </div>

  <!-- Chat Sidebar for Mobile -->
  <p-sidebar
    [style]="{ height: '80%', padding: '0rem' }"
    [(visible)]="chatSidebarVisible"
    position="bottom"
    [dismissible]="true"
    [modal]="true"
    [baseZIndex]="10000"
    showCloseIcon="true"
    styleClass="chat-sidebar"
  >
    <app-chat-page></app-chat-page>
  </p-sidebar>
</div>