<!-- login.component.html -->
<div class="background">
    <!-- Stars Layer -->
    <div class="stars"></div>
    <!-- Twinkling Effect Layer -->
    <div class="twinkling"></div>
    <!-- Silhouettes of Trees and Mountains -->
    <div class="silhouettes"></div>
  
    <!-- Login Form Container -->
    <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
        <h2>Login</h2>
  
        <!-- Username Input Group -->
        <div class="input-group">
          <span class="icon">
            <i class="fa fa-user"></i>
          </span>
          <input
            type="text"
            formControlName="username"
            placeholder="Username"
            required
          />
        </div>
  
        <!-- Password Input Group -->
        <div class="input-group">
          <span class="icon">
            <i class="fa fa-lock"></i>
          </span>
          <input
            type="password"
            formControlName="password"
            placeholder="Password"
            required
          />
        </div>
  
        <!-- Options: Remember Me and Forgot Password -->
        <div class="options">
          <label class="remember-me">
            <input type="checkbox" formControlName="rememberMe" />
            Remember Me
          </label>
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>
  
        <!-- Login Button -->
        <button type="submit" class="login-button">Login</button>
  
        <!-- Footer Text: Register -->
        <div class="footer">
          Don't have an account? <a href="#" class="register-link">Register.</a>
        </div>
  
      </form>
    </div>
  </div>