/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .custom-sidebar .p-sidebar-header {
    background-color: #333 !important;
    padding: 5px !important;
    color: #fff !important;
    display: flex;
    justify-content: space-between;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  } */