/* Battle Card */
.battle-card {
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    transition: box-shadow 0.3s ease;
    padding: 20px;
    width:70%;
    height:150px;
  }

  .battle-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  /* Time Indicator Bar */
  .time-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px; /* Adjusted width to accommodate time text */
    height: 100%;
    background-color: rgba(210, 106, 194, 0.2); /* Subtle color */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .time-text {
    transform: rotate(-90deg);
    font-size: 1em;
    color: #d26ac2;
    font-weight: bold;
    white-space: nowrap;
  }

  /* Battle Content */
  .battle-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px; /* Adjusted for the time indicator width */

  }

  /* Battle Avatar Container */
  .battle-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px; /* Set fixed width */
    height: 140px; /* Set fixed height */
    box-sizing: border-box;
  }

  .user-name {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    font-size: 1em;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* VS Text */
  .vs-text {
    font-weight: bold;
    color: #d26ac2;
    font-size: 1.5em;
    margin: 0 20px;
    align-self: center;
    margin-top:-35px;
  }

  /* Adjusted space between users on desktop */
  @media (min-width: 768px) {
    .battle-content {
      margin-left: 0px; /* Adjusted for the time indicator width */
    }

    .battle-avatar-container {
      margin: 0 30px; /* Adjusted spacing */
    }
  }

  /* Center VS Text Vertically */
  .vs-text {
    align-self: center;
  }

  /* Ensure Battle Content is Centered */
  .battle-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* Remove Blurriness */
  .battle-card,
  .battle-card * {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* width: 98%;
    margin-left: 6px;
    border-radius:30px; */
}

@media (max-width: 768px) {
  .battle-content {
    margin-left: 0px; /* Adjusted for the time indicator width */
  }

  .battle-avatar-container {
  }

  .battle-card,
  .battle-card  {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 98%;
    margin-left: 6px;
    border-radius:30px;
}
}


