<!-- User Profile Dialog -->
<p-dialog
  header="Edit Profile"
  [(visible)]="displayUserProfileDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '100%', maxWidth: '400px' }"
  [contentStyle]="{ 'max-height': 'calc(100vh - 100px)', 'overflow': 'hidden' }"
  [responsive]="true"
  (onHide)="onDialogHide()"
>
  <div class="user-profile-dialog-content">
    <!-- Profile Picture Section -->
    <div class="profile-picture-section">
      <p-avatar
      *ngIf="isDesktop"
        [image]="user.profilePicture"
        [style]="{ width: '120px', height: '120px' }"
        shape="circle"
      ></p-avatar>
      <p-avatar
      *ngIf="isMobile"
      [image]="user.profilePicture"
      [style]="{ width: '100px', height: '100px' }"
      shape="circle"
    ></p-avatar>
      <p-button
      [style]="{'width': '2rem', 'border-radius':'2rem', 'height': '2rem' }"
        icon="pi pi-camera"
        class="p-button-rounded p-button-primary p-button-text change-picture-button"
        (onClick)="onChangeProfilePicture()"
        aria-label="Change Profile Picture"
      ></p-button>
    </div>

    <!-- User Information Form -->
    <div class="user-info-form">
      <div class="p-fluid">
        <div class="p-field">
          <label for="name">Name</label>
          <input
            id="name"
            type="text"
            pInputText
            [(ngModel)]="user.name"
          />
        </div>
        <div class="p-field">
          <label for="email">Email</label>
          <input
            id="email"
            type="email"
            pInputText
            [(ngModel)]="user.email"
          />
        </div>
        <div class="p-field">
          <label for="phone">Phone</label>
          <input
            id="phone"
            type="text"
            pInputText
            [(ngModel)]="user.phone"
          />
        </div>
        <div class="p-field">
          <label for="address">Address</label>
          <input
            id="address"
            type="text"
            pInputText
            [(ngModel)]="user.address"
          />
        </div>
        <p-button
          label="Save Changes"
          icon="pi pi-save"
          class="p-button-success save-button"
          (onClick)="saveChanges()"
        ></p-button>
      </div>
    </div>
  </div>
</p-dialog>