/* General Container Styles */
.battlefield-container {
  position: relative;
  padding: 0;
}

/* Center Tabs */
.custom-tabview .p-tabview-nav {
  justify-content: center;
}

/* Floating Action Battle Button */
.battle-fab {
  position: fixed;
  bottom: 80px; /* Adjusted to be above the mobile navbar */
  right: 20px;
  background-color: #d26ac2;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 1001; /* Ensure it's above other elements */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.battle-fab:hover {
  background-color: #b218a0;
}

/* Users Grid */
.users-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.users-grid::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* User Tile */
.user-tile {
  width: calc(100% / 2 - 20px); /* Two columns on desktop */
  max-width: 200px;
  margin: 10px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .user-tile {
    width: calc(100% / 4 - 20px); /* Four columns on tablets */
  }
}

@media (min-width: 1024px) {
  .user-tile {
    width: calc(100% / 5 - 20px); /* Five columns on desktops */
  }
}

.user-avatar-container {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.user-avatar-container:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Star and Points */
.user-points {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  flex-direction:column;
  margin-left: 5px;
  top: 1;
  font-weight: bold;
}

.user-points i {
  margin-left: 8px;
  font-size: 1.2em;
  color: gold;

}

/* User Name */
.user-name {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Battles Grid */
.battles-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.battles-grid::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Battle Tile */
.battle-tile {
  width: calc(100% / 1 - 20px); /* One column on mobile */
  max-width: 300px;
  margin: 10px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .battle-tile {
    width: calc(100% / 2 - 20px); /* Two columns on tablets and desktops */
  }
}

/* Battle Card */
.battle-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.battle-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Battle Avatars */
.battle-avatars {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* VS Text */
.vs-text {
  margin: 0 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.users-grid {
  /* ... */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.users-grid::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Adjust for Mobile Navbar */
@media (max-width: 767px) {
  .battle-fab {
    bottom: 80px; /* Adjusted to be above the mobile bottom navbar */
  }
}