<div class="battlefield-container">
  <div class="battlefield-content">
    <!-- Online Users -->
    <div class="online-users">
      <div class="users-grid">
        <!-- User Cards -->
        <div
          *ngFor="let user of usersInBattlefield"
          class="user-card"
          (click)="sendBattleRequest(user)"
          pRipple
        >
          <div class="user-avatar-container">
            <!-- User Avatar -->
            <p-avatar
              [image]="user?.profilePicture"
              shape="circle"
              size="large"
              [styleClass]="'profile-picture'"
            ></p-avatar>
            <!-- User Name -->
            <div class="user-name">{{ user?.name }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Floating Action Battle Button -->
    <button
      pButton
      icon="pi pi-plus"
      class="battle-fab"
      (click)="startRandomBattle()"
      pTooltip="Start Random Battle"
    ></button>

    <!-- Ongoing Battles -->
    <div class="ongoing-battles">
      <div class="battles-grid">
        <!-- Battle Cards using the updated BattlePairComponent -->
        <app-battle-pair
          *ngFor="let battle of ongoingBattles"
          [battle]="battle"
          (click)="watchBattle(battle)"
          class="battle-card-wrapper"
        ></app-battle-pair>
      </div>
    </div>
  </div>
</div>