<div class="battlefield-container">
  <!-- Floating Action Battle Button -->
  <button
    pButton
    icon="pi pi-plus"
    class="battle-fab"
    (click)="startRandomBattle()"
    pTooltip="Start Random Battle"
  ></button>

  <!-- Tab View -->
  <p-tabView class="custom-tabview">
    <p-tabPanel header="Users Ready to Battle">
      <!-- Users Grid -->
      <div class="users-grid">
        <!-- User Tiles -->
        <div
          *ngFor="let user of usersInBattlefield"
          class="user-tile"
          (click)="sendBattleRequest(user)"
        >
          <div class="user-avatar-container p-ripple">
            <!-- User Avatar -->
            <p-avatar
              [image]="user?.profilePicture"
              shape="circle"
              size="xlarge"
            ></p-avatar>
            <!-- User Name -->
            <div class="user-name">{{ user?.name }}</div>
            <!-- Star and Points -->
            <div class="user-points">
              <i class="pi pi-star-fill"></i>
              <span>{{ user?.stats?.points }}</span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Ongoing Battles">
      <!-- Battles Grid -->
      <div class="battles-grid">
        <!-- Battle Tiles -->
        <div
          *ngFor="let battle of ongoingBattles"
          class="battle-tile"
          (click)="watchBattle(battle)"
        >
          <div class="battle-card p-ripple">
            <div class="battle-avatars">
              <!-- User 1 Avatar -->
              <div class="battle-avatar-container">
                <p-avatar
                  [image]="battle?.user1?.profilePicture"
                  shape="circle"
                  size="large"
                ></p-avatar>
                <!-- Star and Points -->
                <div class="user-points">
                  <i class="pi pi-star-fill"></i>
                  <span>{{ battle?.user1?.stats?.points }}</span>
                </div>
              </div>
              <!-- User 2 Avatar -->
              <div class="battle-avatar-container">
                <p-avatar
                  [image]="battle?.user2?.profilePicture"
                  shape="circle"
                  size="large"
                ></p-avatar>
                <!-- Star and Points -->
                <div class="user-points">
                  <i class="pi pi-star-fill"></i>
                  <span>{{ battle?.user2?.stats?.points }}</span>
                </div>
              </div>
            </div>
            <!-- Battle User Names -->
            <div class="battle-user-names">
              <span>{{ battle?.user1?.name }}</span>
              <span class="vs-text">vs</span>
              <span>{{ battle?.user2?.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>