<!-- Desktop View -->
<ng-container *ngIf="isDesktop">
  <div class="desktop-layout">
    <!-- Sidebar -->
    <div class="sidebar" *ngIf="!isBattlePage">
      <!-- Logo and Header -->
      <div class="sidebar-header">
        <span class="inline-flex align-items-center gap-2">
          <!-- SVG Logo -->
          <!-- Include your SVG logo code here -->
          <span class="font-semibold text-2xl logo-text">Freestyler</span>
        </span>
      </div>
      <!-- Menu Content -->
      <div class="sidebar-menu">
        <!-- Menu Items -->
        <ul class="menu-list">
          <li class="menu-item" *ngFor="let item of desktopMenuItems">
            <a [routerLink]="item.routerLink" class="menu-link">
              <i class="{{item.icon}} icon"></i>
              <span class="menu-text">{{item.label}}</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Logout Button -->
      <div class="sidebar-footer">
        <button pButton type="button" icon="pi pi-sign-out" label="Logout" class="logout-button"></button>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="content-area" [class.battle-content]="isBattlePage">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<!-- Mobile View -->
<ng-container *ngIf="isMobile">
  <!-- Main Content -->
  <div class="content-area" [class.battle-content]="isBattlePage">
    <router-outlet></router-outlet>
  </div>

  <!-- Fixed Bottom Navigation Menu -->
  <div class="mobile-bottom-menu" *ngIf="!isBattlePage">
    <!-- Mobile Menu Items -->
    <div class="menu-items">
      <a *ngFor="let item of mobileMenuItems" [routerLink]="item.routerLink" class="menu-item">
        <button pButton type="button" [style]="{ 'font-size': '31px'}" [icon]="item.icon" class="p-button p-button-text"></button>
      </a>
    </div>
  </div>
</ng-container>